<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <title>Ambilight Controller</title>

  <style>

    .container {
      margin-top: 60px;
      text-align: center;
    }

    form {
      margin-top: 40px;
    }

    a {
      float: left;
    }

    button {
      width: 100%;
      margin-top: 20px;
    }

    textarea {
      margin-top: 10px;
      width: 100%;
      height: 250px;
      resize: none;
      padding-left: 25px;
      padding-top: 25px;
    }

  </style>
</head>

<body>
  <div class="container">
    <h1>Ambilight Controller</h1>

    <form action="/config" method="POST" name="myForm">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Active Light</label>
          <select name="light" id="light" class="form-control">
            <option selected disabled>Choose a light...</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label>HUE Bridge IP</label>
        <input required name="ip" id="ip" type="text" class="form-control" placeholder="0.0.0.0">
      </div>
      <a href="https://discovery.meethue.com/">Discover my HUE bridge IP</a>
      <br>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <div class="container">
      <h5>Script Logs</h5>
      <textarea disabled id="logs">Logs:</textarea>
    </div>


  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
      var config = {{config|tojson}};
      var ip = config["ip"];
      var light = config["light"];
      var lights = config["lights"];
      // Set ip value
      document.getElementById("ip").value = ip;
      // Load options for lights and set the default light value.
      for (var i = 0; i < lights.length; i++) {
        var option = document.createElement("option");
        option.text = lights[i].name;
        option.value = lights[i].id;
        document.getElementById("light").add(option);
      }
      document.getElementById("light").value = light;
      // Setup socket connection for logs
      var socket = io.connect(`${window.location.hostname}:5000`);
      socket.on("log", (log) => {
        var previousLogs = document.getElementById("logs").innerHTML;
        document.getElementById("logs").innerHTML = `${previousLogs}\n${log}`;
      });
    });
  </script>
</body>

</html>
